<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<div class="container">
      <header>
        <h1>Notes app</h1>
        <nav>
          <ul>
            <li>
              <a href="/">Accueil</a>
            </li>
            <li><a href="/apropos"> A Propos</a></li>
            <li><a href="/inscription"> Inscription</a></li>
            <li><a href="/connexion"> Connexion</a></li>
          </ul>
        </nav>
      </header>
      <section>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam illo est aspernatur veniam, doloremque, fugit sint maxime, mollitia vel animi enim nihil voluptas architecto harum commodi aut dolore quos. Explicabo.
            
        </p>
      
      </section>
      
    </div>
<body>




<%- include('./includes/footer.ejs') %>
