<%- include('./includes/head.ejs') %>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li> <a href="/">Accueil</a></li>
                    <li> <a href="/apropos">A Propos</a></li>
                    <li> <a href="/inscription">inscription</a></li>
                    <li> <a href="/connexion">Connexion</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>Formulaire de connexion</h1>
            <h3> Connectez vous s'il vous plait ! </h3>
        
            <form method="post" action="/connexion" name="f">
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" placeholder="Votre nom ">
                <label for="mdp">Mot de passe </label>
                <input type="text" id="mdp" name="mdp" placeholder="Votre mot de passe ">
                <label for="pwd">Confirmer mot de passe</label>
                <input type="text" id="pwd" name="pwd" placeholder="Confirmer votre mot de passe ">
                <input type="submit" onclick="validate()" value="Connexion">
            
            </form>
            <hr>
        </section>

<%- include('./includes/footer.ejs') %>