
<%- include('./includes/head.ejs') %>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li> <a href="/">Accueil</a></li>
                    <li> <a href="/apropos">A Propos</a></li>
                    <li> <a href="/inscription">inscription</a></li>
                    <li> <a href="/connexion">Connexion</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>Formulaire d'inscription</h1>
            <h3>Veuillez s'inscrire s'il vous plait !</h3>
        
            <form method="post" action="/inscription">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" placeholder="Votre prénom">
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" placeholder="Votre nom ">
                <label for="Email">Email</label>
                <input type="email" id="email" name="email" placeholder="Votre e-mail ">
                <label for="password">Mot de passe </label>
                <input type="password" id="password" name="password" placeholder="mot de passe ">
                <input type="submit" value="S'inscrire">
            
            </form>
            <hr>
        </section>



<%- include('./includes/footer.ejs') %>